$arrow-color: #fff;

.charts {
  position: relative;
  width: 100%;
  height: 100%;
  .header {
    position: absolute;
    top: 0;
    width: 100%;
    height: 40px;
    background-color: #4352af;
    display: flex;
    justify-content: center;
    align-items: center;
    .left-arrow {
      position: relative;
      width: 10px;
      height: 10px;
      border-left: 2px solid $arrow-color;
      border-bottom: 2px solid $arrow-color;
      transform: rotate(45deg);
    }

    .date {
      padding: 0 30px;
      line-height: 40px;
      color: white;
      font-size: 20px;
      text-shadow: 0 0 0 #ccc, 0 0 5px #ccc, 0 0 10px #ccc, 0 0 15px #ccc,
        0 0 20px #ccc, 0 0 30px #ccc, 0 0 40px #ccc, 0 0 50px #ccc;
    }

    .right-arrow {
      position: relative;
      width: 10px;
      height: 10px;
      border-right: 2px solid $arrow-color;
      border-bottom: 2px solid $arrow-color;
      transform: rotate(-45deg);
    }
  }

  .charts-list {
    position: relative;
    top: 40px;
    width: 100vw;
    overflow-x: hidden;
    overflow-y: scroll;
    min-height: 100%;
    height: auto;

    .charts-container {
      // 销售报表
      .charts-header {
        padding: 10px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        .label {
          padding-left: 10px;
          color: #666;
          font-size: 18px;
          font-weight: bold;
          border-left: 5px solid #666;
        }
        .select-custom {
          margin-left: 10px;
          width: 80px;
          height: 30px;
          border-radius: 5px;
          border: 1px solid #ccc;
          // height: 40px;
        }
      }

      .charts-sales-container {
        position: relative;
        width: 100vw;
        height: 100vw;
        overflow-x: scroll;
        margin: 0 auto;
        .charts-sales {
          position: absolute;
          left: 0;
          top: 0;
          height: 100vw;
        }
      }

      .charts-drive {
        width: 100vw;
        height: 100vw;
        // height: 100vh;
        margin: 0 auto;
      }

      .charts-clue {
        width: 100vw;
        height: 100vw;
        // height: 100vh;
        margin: 0 auto;
      }
    }
  }
}
