<div class="login">
  <img class="login-back" src="/assets/app/login.png" />

  <div class="login-layer"></div>

  <div class="login-view">
    <div class="login-title">PMS - 数据可视化</div>

    <form class="form" [formGroup]="form" (ngSubmit)="throttleSubmit()">
      <mat-form-field class="form-field" appearance="outline">
        <mat-label>用户名 / UserName</mat-label>
        <input
          matInput
          formControlName="userName"
          color="#fff"
          placeholder="请输入用户名"
        />
        <mat-error>
          {{ getErrorMessage("userName") }}
        </mat-error>
      </mat-form-field>

      <mat-form-field class="form-field" appearance="outline">
        <mat-label>密码 / Password</mat-label>
        <input
          matInput
          [type]="hide ? 'password' : 'text'"
          formControlName="password"
          placeholder="请输入密码"
        />
        <mat-error>
          {{ getErrorMessage("password") }}
        </mat-error>
        <button mat-icon-button matSuffix (click)="toggleHide()">
          <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
        </button>
      </mat-form-field>

      <button class="submit" mat-raised-button color="primary" type="submit">
        登录
      </button>
    </form>
  </div>
</div>
